.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 60px;
  font-weight: 700;
}

.sub-title {
  font-size: 20px;
  opacity: 0.8;
}

.buttons {
  min-width: 30%;
  margin: 30px 0;
}

.form,
.download {
  width: 100%;
  margin: 10px 0;
  background-color: #e5322d;
  color: aliceblue;
  font-size: 24px;
  border-radius: 16px;
}

.form:hover,
.download:hover {
  box-shadow: rgba(229, 50, 45, 255) 0px 0px 16px;
}

.download {
  padding: 16px 16px;
}

.input-label {
  padding: 16px 16px;
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.input-file {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
}

.uploaded-file-list {
  padding: 5px 10px;
  opacity: 0.6;
  font-size: 16px;
}
